.git
.gitignore
.DS_Store
.env
.env.*
!.env.example
.venv
**/.venv
node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
*.pyc
__pycache__
**/__pycache__
docs
.idea
.vscode
