**

!.dockerignore
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!pyproject.toml
!uv.lock

!apps/
apps/*

!apps/web/
apps/web/*
!apps/web/Dockerfile
!apps/web/next-env.d.ts
!apps/web/next.config.ts
!apps/web/package.json
!apps/web/postcss.config.mjs
!apps/web/tsconfig.json
!apps/web/src/
!apps/web/src/**

!apps/api/
apps/api/*
!apps/api/Dockerfile
!apps/api/pyproject.toml
!apps/api/alembic.ini
!apps/api/migrations/
!apps/api/migrations/**
!apps/api/src/
!apps/api/src/**

!apps/worker/
apps/worker/*
!apps/worker/Dockerfile
!apps/worker/pyproject.toml
!apps/worker/src/
!apps/worker/src/**

!apps/mcp/
apps/mcp/*
!apps/mcp/Dockerfile
!apps/mcp/pyproject.toml
!apps/mcp/src/
!apps/mcp/src/**
